@inherits NoteBase

@if (Data.GroupId == null) {
    <VoteList Note="@Data"/>
}

<div class="box note rounded-2 p-2 @(Container?.IsGroupingAllowed() == true ? "draggable" : "") @(CanView() ? "" : "note--blurred") @(CanEdit() ? "note--editable" : "")"
     data-id="@Data.Id"
     data-test-element-id="note"
     draggable="@(Container?.IsGroupingAllowed() == true ? "true" : null)"
     @ondragstart="@(() => HandleDragStart(Data))"
     @ondragend="@(() => HandleDragEnd())"
     style="background-color: #@Data.ParticipantColor.HexString">
    @if (CanEdit())
    {
        @if (ShowErrorMessage)
        {
            <p class="has-text-warning has-text-centered">Couldn't save, please try again!</p>
        }

        @if (RetrospectiveStatus.IsDeletingNotesAllowed) {
            <div class="m-2 note__delete-icon"
                 data-keypress-handler="CTRL+Delete" title="You can also press CTRL+Delete when you have the textarea in focus"
                 data-keypress-handler-id="note-@Data.Id"
                 @onclick="@Delete">
                <i class="fas fa-trash"></i>
            </div>
        }

        <textarea class="form-control textarea note__content is-small has-fixed-size"
                  data-keypress-handler-id="note-@Data.Id"
                  rows="1"
                  placeholder="Enter your text here"
                  @bind-value="@TextData"
                  @bind-value:event="oninput"
                  @ref="TextBoxReference"></textarea>
    }
    else
    {
        <p class="note__content">
            @Data.Text
        </p>
    }
</div>