@inherits ShowcaseBase

@if (Data == null)
{
    if (ShowErrorMessage)
    {
        <ErrorMessage />
    }
    else
    {
        <div class="notification is-info">
            <strong>Hold on!</strong> Crunching the data...
        </div>
    }
} else {
    <div class="showcase">
        <div class="showcase__button-container showcase__button-container--previous">
            <button type="button"
                    class="button @(HasPreviousItem ? "is-dark" : "is-light") is-inverted"
                    data-keypress-handler="CTRL+ArrowLeft" title="You can also press CTRL+Left arrow key"
                    @onclick="@ShowPreviousItem">
                <span class="icon">
                    <span class="fas fa-arrow-left"></span>
                </span>
            </button>
        </div>

        @for (int index = 0; index < Data.Items.Count; index++)
        {
            <ShowcaseItemDisplay @key="@index" 
                                  Data="@(Data.Items[index])"
                                  ItemIndex="@index" 
                                  VisibleItemIndex="@VisibleItemIndex"/>
        }

        <div class="showcase__button-container showcase__button-container--next">
            <button type="button"
                    class="button @(HasNextItem ? "is-link" : "is-light") is-inverted"
                    data-keypress-handler="CTRL+ArrowRight" title="You can also press CTRL+Right arrow key"
                    @onclick="@ShowNextItem">
                <span class="icon">
                    <span class="fas fa-arrow-right"></span>
                </span>
            </button>
        </div>
    </div>
}

@code {
    
}
