@using RetroTime.Application.Showcase.Queries

<div class="showcase-item @CssClass">
    <h3 class="showcase-item__title">@Data.Lane.Name</h3>

     <CascadingValue Value="@Data.Lane" IsFixed="true">
         @if (Data.Note != null)
         {
             <Note Data="@Data.Note"/>
         }

         @if (Data.NoteGroup != null)
         {
             <NoteGroup Data="@Data.NoteGroup" IsExpanded="@IsShown"/>
         }
     </CascadingValue>
</div>

@code {
    #nullable disable
    [Parameter]
    public ShowcaseItem Data { get; set; }

    [Parameter]
    public int ItemIndex { get; set; }

    [Parameter]
    public int VisibleItemIndex { get; set; }

    private bool IsShown => ItemIndex == VisibleItemIndex;

    private string CssClass
    {
        get
        {
            if (IsShown)
            {
                return "showcase-item--current";
            }

            return ItemIndex < VisibleItemIndex ? "showcase-item--previous" : "showcase-item--next";
        }
    }
}
